/target
/crates/*/target
crates/*/Cargo.lock
.env
.DS_Store

cache/
out/
broadcast/

# Pinata automation scripts (may contain sensitive data)
pinata-auth.expect

# User provided files
/policy-files

# Opsim debug, target and output files
op-sim/debug/
op-sim/target/

script/rust/target

# In the WASM args, there would be some private inputs, so we don't want to commit it.
wasm_args.json